
{% extends "manage_staffing/base.html" %}

{% block main %} 
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <p>Staffing application here.</p>
   
    <p>The general idea is to gather the data needed to provide staffing services.  What data is that?  Then use that data to more effectively place people into jobs--Effectiveness means placing poeple in jobs that make the staffing company money.  Use of the data pertains to processes.  What are those good processes and how can they be automatized--done more efficiently for less.</p>
    <p>What kind of general metrics should be here?</p>
    <p>Pending actions that need to be taken?</p>
    <p>Following is just a chart/plot to show some important metric</p>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

</main> 








{% endblock %}